
p {
clear:both;
}

#wrapper { width: 400px; margin: 40px auto; }

.audiojsZ audio {
position:absolute;
}

.audiojsZ {
width:368px;
height:50px;
overflow:hidden;
}

.audiojsZ .play-pauseZ, .control {
width:80px;
height:50px;
float:left;
overflow:hidden;
margin:0;
padding:0px 6px;
}

.audiojsZ p {
display:none;
width:80px;
height:50px;
cursor:pointer;
margin:0;
}

.audiojsZ .playZ {
    display:block;
    background:url(../images/player.svg) -165px 0 transparent;
}

.audiojsZ .nextZ {
    display:block;
    background:url(../images/player.svg) -85px 0 transparent;
}

.audiojsZ .prevZ {
    display:block;
    background:url(../images/player.svg) -5px 0 transparent;
}

.audiojsZ .downLoadZ {
    display:block;
    background:url(../images/player.svg) -320px 0 transparent;
}

.audiojsZ .pauseZ {
    background:url(../images/player.svg) -240px 0 transparent;
}

.errorZ .play-pauseZ p {
cursor:auto;
}

.playingZ .playZ {
display:none;
}

.playingZ .pauseZ,.loadingZ .loadingZ,.errorZ .errorZ,.errorZ .error-messageZ {
display:block;
}
.none {
display:none;
}